*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #36e780, #002661);
  font-family: "Roboto", sans-serif;
}

.theme-container {
  background-color: #5cffa5;
  width: 8rem;
  height: 6rem;
  border-radius: 2rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.icon {
  padding: 1rem;
  width: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.output {
  height: 40%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  color: #353535;
  font-size: 4rem;
  font-weight: 700;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.pre-calc {
  color: #494949;
}

.cur-calc {
  font-size: 6rem;
  height: 8rem;
}
.calc-box {
  width: 40rem;
  height: 80rem;
  background-color: #c5ffdf;
  border-radius: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}
.btn-container {
  padding: 1rem;
  background-color: #b4ffd5;
  width: 100%;
  height: 60%;
  border-radius: inherit;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  width: 8rem;
  aspect-ratio: 1;
  background-color: #81fbb8;
  color: #353535;
  border: none;
  border-radius: 2rem;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background-color: #c6ffe0;
}

.blue {
  color: #1ca0a0;
}

.red {
  color: #d84734;
}

.hidden {
  display: none;
}

.bodyBg {
  background: linear-gradient(to bottom right, #002661, #005f28);
}
.calcBox {
  background-color: #2f8f5c;
}

.btnContainer {
  background-color: #1f8049;
}
.button {
  background-color: #0d7a3e;
  color: #c6ffe0;
}

.red2 {
  color: #ff4c34;
}

.blue2 {
  color: #15ffff;
}

.preCurCalc {
  color: #c6ffe0;
}
